<div class="container py-5">
  <div class="d-flex justify-content-center align-items-center">
    <div style="width: 800px; border-radius: 10px;" class="p-4 py-5 bg-secondary">
      <div class="text-center mb-4">
        <h3 class="h3 text-white">Cập Nhật Sản Phẩm</h3>
      </div>
      <form method="post">
        <div class="m-3 d-flex justify-content-center">
          <img id="imageShow" ng-src="{{getProduct.image}}" width="150" alt="Ảnh Sản Phẩm">
        </div>
        <div class="row mb-2">
          <div class="col-lg-6 col-sm-12">
            <div class="mb-2">
              <label for="" class="mb-1 fs-16 text-white">Ảnh Sản Phẩm</label>
              <input type="file" class="form-control fs-16" onchange="previewFile()" id="imageProduct"
                accept=".jpg, .png">
              <div style="color: yellow; font-size: 16px !important; margin-top: 5px !important;">{{Update.productImageUpdateErr}}</div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="mb-2">
              <label for="" class="mb-1 fs-16 text-white">Tên Sản Phẩm</label>
              <input type="text" class="form-control fs-16" ng-model="productName">
              <div style="color: yellow; font-size: 16px !important; margin-top: 5px !important;">{{Update.productNameUpdateErr}}</div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-6 col-sm-12">
            <div class="mb-2">
              <label for="" class="mb-1 fs-16 text-white">Giá Sản Phẩm</label>
              <input type="number" class="form-control fs-16" ng-model="productPrice" placeholder="Điền giá sản phẩm">
              <div style="color: yellow; font-size: 16px !important; margin-top: 5px !important;">{{Update.productPriceUpdateErr}}</div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="mb-2">
              <label for="" class="mb-1 fs-16 text-white">Danh Mục</label>
              <select class="form-select" ng-model="productCategory">
                <option ng-repeat="item in categories" value="{{item.id}}">{{item.name}}</option>
              </select>
              <div style="color: yellow; font-size: 16px !important; margin-top: 5px !important;">{{Update.productCategoryUpdateErr}}
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-lg-6 col-sm-12">
            <div class="mb-2">
              <label for="" class="mb-1 fs-16 text-white">Bán Chạy</label>
              <select class="form-select" ng-model="productTop">
                <option value="0">Không</option>
                <option value="1">Có</option>
              </select>
              <div style="color: yellow; font-size: 16px !important; margin-top: 5px !important;">{{Update.productTopUpdateErr}}
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="mb-2">
              <label for="" class="mb-1 fs-16 text-white">Sản Phẩm Mới</label>
              <select class="form-select" ng-model="productNew">
                <option value="0">Không</option>
                <option value="1">Có</option>
              </select>
              <div style="color: yellow; font-size: 16px !important; margin-top: 5px !important;">{{Update.productNewUpdateErr}}
              </div>
            </div>
          </div>
        </div>
        <div class="mb-2">
          <label for="" class="mb-1 fs-16 text-white">Mô Tả</label>
          <textarea class="form-control fs-16" rows="3" placeholder="Thêm mô tả cho sản phẩm"
            ng-model="productDescribe"></textarea>
          <div style="color: yellow; font-size: 16px !important; margin-top: 5px !important;">{{Update.productDescribeUpdateErr}}</div>
        </div>
        <button type="button" class="btn btn-dark w-100 mt-3 mb-3 rounded-2" ng-click="Update.updateProduct()">Lưu</button>
        <div class="text-center">
          <a href="#!admin" class="fs-16 text-decoration-none text-white">Trở Lại</a>
        </div>
      </form>
    </div>
  </div>
</div>