<div class="container py-5">
  <div class="card mb-3">
    <div class="d-flex align-items-center p-3">
      <a href="#!home" class="me-2 text-decoration-none text-dark fs-16">Trang Chủ</a>
      <i class="fa fa-chevron-right me-2" style="font-size: 13px;"></i>
      <a href="#!profile" class="text-decoration-none text-dark fs-16">Hồ Sơ</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2">
      <div class="card">
        <div class="d-flex justify-content-center align-items-center p-5 pb-3 pt-4">
          <i class="fa fa-user fa-6x"></i>
        </div>
        <p class="m-0 text-center pb-2 fw-bold">Lu Phat Huy</p>
      </div>
      <div class="mt-2">
        <button type="submit" class="w-100 btn btn-default" ng-click="signout()">Đăng Xuất</button>
      </div>
    </div>
    <div class="col-lg-10">
      <div class="card p-3">
        <div class="mb-3">
          <label for="" class="form-label fs-16 fw-bold">Tên</label>
          <input type="text" class="form-control form-control-sm fs-16" ng-model="userInfo.name">
          <div style="color: red; font-size: 16px !important; margin-top: 5px !important;">{{usernameErr}}
          </div>
        </div>
        <div class="mb-3">
          <label for="" class="form-label fs-16 fw-bold">Email</label>
          <input type="text" class="form-control form-control-sm fs-16" ng-model="userInfo.email">
          <div style="color: red; font-size: 16px !important; margin-top: 5px !important;">{{emailErr}}
          </div>
        </div>
        <div class="mb-3">
          <label for="" class="form-label fs-16 fw-bold">Mật khẩu <a href="" data-bs-toggle="modal"
              data-bs-target="#exampleModal"><i class="fa fa-edit ms-1"></i></a></label>
          <input type="text" class="form-control form-control-sm fs-16" ng-model="userInfo.password" disabled>
          <!-- Form cập nhật mật khẩu -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Cập Nhật Mật Khẩu</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form action="">
                    <div class="mb-3">
                      <label for="password" class="form-label fs-16">Mật khẩu cũ</label>
                      <input type="text" ng-model="userInfo.password" id="password"
                        class="form-control form-control-sm fs-16">
                    </div>
                    <div class="mb-3">
                      <label for="newpassword" class="form-label fs-16">Mật khẩu mới <span
                          style="color: red;">(*)</span></label>
                      <input type="text" ng-model="newPassword" id="newpassword" class="form-control form-control-sm fs-16">
                      <div style="color: red; font-size: 16px !important; margin-top: 5px !important;">{{newpasswordErr}}
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="cpassword" class="form-label fs-16">Nhập lại mật khẩu mới <span
                          style="color: red;">(*)</span></label>
                      <input type="text" ng-model="cNewPassword" id="cpassword" class="form-control form-control-sm fs-16">
                      <div style="color: red; font-size: 16px !important; margin-top: 5px !important;">{{cNewPasswordErr}}
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-default"  ng-click="updatePassword()">Thay đổi</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-2">
          <button type="submit" class="float-end btn btn-default" ng-click="updateProfile()">Lưu</button>
        </div>
      </div>
    </div>
  </div>
</div>