<div class="container-fluid bg-light py-5">
    <div class="col-md-6 m-auto text-center">
        <h1 class="h1">Khảo Sát</h1>
        <p>
            Thu Nhập Những Ý Kiến Của Mọi Người
        </p>
    </div>
</div>

<div class="container my-5" id="content">
    <div class="row mb-4" ng-show="!inProgess">
        <div class="col text-center">
            <button class="btn btn-default" ng-click="start()">Mở Khảo Sát</button>
        </div>
    </div>
    <!-- <div class="row mb-3">
        <div class="col text-center">
            <h2><i class="fas fa-clock" style="color: #23B5E1;"></i> 10:12:00</h2>
        </div>
    </div> -->
    <div class="row" ng-show="inProgess">
        <div class="col">
            <div class="card border-info">
                <div class="card-header text-white btn-default">
                    <img src="images/logos/JAAV.png" width="30" class="border border-primary rounded-lg" alt="">
                    <span>{{questions}}</span>
                    <span class="float-right badge">{{id + 1}}/{{countQues}}</span>
                </div>
                <div class="card-body">
                    <div class="mb-2" ng-repeat="item in options | limitTo : 3 : 0">
                        <label for="checkbox{{item.id}}" class="fs-16">
                            <input type="hidden" name="que" value="{{questions}}">
                            <input type="radio" name="answer" id="checkbox{{item.id}}" class="me-1"
                                value="{{item.text}}">{{item.text}}
                        </label>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-dark" ng-click="nextQuestion()"  ng-if="id !== 2">Tiếp Tục</button>
                    <button class="btn btn-dark" ng-click="nextQuestion()" ng-if="id == 2">Hoàn Thành</button>
                    <!-- <button class="btn btn-default" ng-click="prevQuestion()" ng-if="id !== 0">Trở Lại</button> -->
                </div>
            </div>
        </div>
    </div>
</div>