<footer class="bg-dark" id="tempaltemo_footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 pt-5">
        <h2 class="h2 text-success border-bottom pb-3 border-light logo">Glasses Dev</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li>
            <i class="fas fa-map-marker-alt fa-fw"></i>
            Hưng Thạnh, Cái Răng, Cần Thơ
          </li>
          <li>
            <i class="fa fa-phone fa-fw"></i>
            <a class="text-decoration-none" href="tel:010-020-0340">0945567048</a>
          </li>
          <li>
            <i class="fa fa-envelope fa-fw"></i>
            <a class="text-decoration-none" href="mailto:info@company.com">huylppc05334@fpt.edu.vn</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Danh Mục</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li ng-repeat="item in categories"><a class="text-decoration-none" href="#!shop">{{item.name}}</a></li>
        </ul>
      </div>
      <div class="col-md-3 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Trang</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#!home">Trang Chủ</a></li>
          <li><a class="text-decoration-none" href="#!shop">Sản Phẩm</a></li>
          <li><a class="text-decoration-none" href="#!about">Giới Thiệu</a></li>
          <li><a class="text-decoration-none" href="#!contact">Liên Hệ</a></li>
          <li><a class="text-decoration-none" href="#!survey">Khảo Sát</a></li>
        </ul>
      </div>
      <div class="col-md-3 pt-5">
        <h2 class="h2 text-light border-bottom pb-3 border-light">Khác</h2>
        <ul class="list-unstyled text-light footer-link-list">
          <li><a class="text-decoration-none" href="#!admin">Thêm Sản Phẩm</a></li>
        </ul>
      </div>
    </div>
    <div class="row text-light mb-4">
      <div class="col-12 mb-3">
        <div class="w-100 my-3 border-top border-light"></div>
      </div>
      <div class="col-auto me-auto">
        <ul class="list-inline text-left footer-icons">
          <li class="list-inline-item border border-light rounded-circle text-center">
            <a class="text-light text-decoration-none" href="https://www.facebook.com/anhzachdeptrainhatthegioi"
              target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw"></i></a>
          </li>
          <li class="list-inline-item border border-light rounded-circle text-center">
            <a class="text-light text-decoration-none" href="https://www.instagram.com/crisszachh/" target="_blank"><i
                class="fab fa-instagram fa-sm fa-fw"></i></a>
          </li>
          <li class="list-inline-item border border-light rounded-circle text-center">
            <a class="text-light text-decoration-none" href="https://www.tiktok.com/@zachdev12" target="_blank"><i
                class="fab fa-tiktok fa-sm fa-fw"></i></a>
          </li>
          <li class="list-inline-item border border-light rounded-circle text-center">
            <a class="text-light text-decoration-none" href="https://www.youtube.com/channel/UCDaZkthYsMU3oz8_YzLlF_A"
              target="_blank"><i class="fab fa-youtube fa-sm fa-fw"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="w-100 bg-black py-3">
    <div class="container">
      <div class="row pt-2">
        <div class="col-12">
          <p class="text-left text-light">
            Copyright &copy; 2024 | Thiết Kế Bởi <a rel="sponsored"
              href="https://www.facebook.com/anhzachdeptrainhatthegioi" target="_blank"
              class="text-decoration-none text-info">Lữ Phát
              Huy - PC05334</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>