<nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
  <div class="container text-light">
    <div class="w-100 d-flex justify-content-between">
      <div>
        <i class="fa fa-envelope mx-2"></i>
        <a class="navbar-sm-brand text-light text-decoration-none"
          href="mailto:huylppc05334@fpt.edu.vn">huylppc05334@fpt.edu.vn</a>
        <i class="fa fa-phone mx-2"></i>
        <a class="navbar-sm-brand text-light text-decoration-none" href="tel:0945567048">0945567048</a>
      </div>
      <div>
        <a class="text-light" href="https://www.facebook.com/anhzachdeptrainhatthegioi" target="_blank"
          rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
        <a class="text-light" href="https://www.instagram.com/crisszachh/" target="_blank"><i
            class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
        <a class="text-light" href="https://www.tiktok.com/@zachdev12" target="_blank"><i
            class="fab fa-tiktok fa-sm fa-fw me-2"></i></a>
        <a class="text-light" href="https://www.youtube.com/channel/UCDaZkthYsMU3oz8_YzLlF_A" target="_blank"><i
            class="fab fa-youtube fa-sm fa-fw"></i></a>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light shadow">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand text-success logo h1 align-self-center" href="#!home">
      <img src="./assets/img/logoGlasses.png" width="100" alt="">
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
      data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="align-self-center collapse text-center navbar-collapse flex-fill d-lg-flex justify-content-lg-between"
      id="templatemo_main_nav">
      <div class="flex-fill">
        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!home" ng-class="{ '__active' : homeActive }">Trang Chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!shop" ng-class="{ '__active' : shopActive }">Sản Phẩm</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!about" ng-class="{ '__active' : aboutActive }">Giới Thiệu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!contact" ng-class="{ '__active' : contactActive }">Liên Hệ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!survey" ng-class="{ '__active' : surveyActive }">Khảo Sát</a>
          </li>
        </ul>
      </div>
      <div class="align-self-center d-flex justify-content-center mb-3 mt-3 mb-lg-0 mb-md-0  mt-lg-0 mt-md-0">
        <a class="nav-icon d-lg-inline me-lg-4 me-3" href="#" data-bs-toggle="modal"
          data-bs-target="#templatemo_search">
          <i class="fa fa-fw fa-search text-dark mr-2"></i>
        </a>
        <a class="nav-icon position-relative text-decoration-none me-lg-4 me-3" href="#">
          <i class="fa fa-fw fa-cart-plus text-dark mr-1"></i>
        </a>
        <div ng-show="!issetUserId">
          <a class="nav-icon position-relative text-decoration-none" href="#!signin">
            <i class="fa fa-fw fa-right-to-bracket text-dark mr-3"></i>
            <span
              class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
          </a>
        </div>
        <div ng-show="issetUserId">
          <a class="nav-icon position-relative text-decoration-none" href="#!profile">
            <i class="fa fa-fw fa-user text-dark mr-3"></i>
            <span
              class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div class="modal fade anthanhcuon" id="templatemo_search" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-body border-0 p-0">
      <div class="input-group">
        <input type="text" class="form-control fs-16" ng-model="search" placeholder="Tìm Kiếm...">
      </div>
      <ul class="m-0 list-unstyled templatemo-accordion">
        <li class="m-2 text-dark"
          ng-repeat="item in filteredProducts = (product | filter : search | limitTo : 5)">
          <a href="#!detail/{{item.id}}" class="text-decoration-none fs-16" style="color: crimson;">
            <img src="{{item.image}}" width="50" class="me-2" alt="">{{item.name}}
          </a>
        </li>
        <li class="m-2 fs-16" style="color:red;" ng-if="filteredProducts.length === 0">Không tìm thấy sản
          phẩm nào.</li>
      </ul>
    </div>
  </div>
</div>