<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="{{Detail.detailProduct.image}}" alt="" id="product-detail">
                </div>
            </div>
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">{{Detail.detailProduct.name}}</h1>
                        <p class="h3 py-2" style="color: red;">{{Detail.detailProduct.price | number : 0}} VND</p>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                                <h6>Loại:</h6>
                            </li>
                            <li class="list-inline-item">
                                <p class="m-0 fs-16" style="color: black;">{{Detail.categoryName}}</p>
                            </li>
                        </ul>
                        <ul class="list-inline mt-2">
                            <li class="list-inline-item">
                                <p class="">{{Detail.detailProduct.describe}}</p>
                            </li>
                        </ul>
                        <div class="pb-3">
                            <button type="submit" class="btn btn-dark" name="submit"><i
                                    class="fa fa-shopping-cart me-2"></i>Thêm Vào Giỏ Hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-5">
    <div class="container">
        <div class="row text-left p-2 pb-3">
            <h4>Sản Phẩm Liên Quan</h4>
        </div>
        <div class="row">
            <div class="col-12 col-md-2 mb-4" ng-repeat="relatedProducts in prodCategory">
                <div class="card _productHover">
                    <a href="#!detail/{{relatedProducts.id}}">
                        <img src="{{relatedProducts.image}}" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body text-center">
                        <h5 class="card-title"><a href="#!detail/{{relatedProducts.id}}"
                                class="text-decoration-none text-dark fw-bold"></a></h5>
                        <p class="card-text m-2 truncate-text-1 fs-16">{{relatedProducts.name}}</p>
                        <p class="card-text text-danger fs-16">{{relatedProducts.price | number : 0}} VND</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="button" class="btn btn-dark">Mua Ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>